* {
    box-sizing: border-box;
    font-family:  Arial;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f3f8;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    position: relative;
}

.left img {
    width: 370px;
    height: 100%;
    object-fit: fill;
}

.bg {
    position: absolute;
    background-color: rgb(0,0,0,.4);
    top: 10rem;
    width: 100%;
    color: #fcfdff;
    text-align: center;
}

.credit {
    position: absolute;
    top: 40rem;
    text-align: center;
    font-size: 12px;
    width: 100%;
    left: 0px;
    color: #fcfdff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.logo p {
    font-size: 70px;
    font-family: NorseBold;
    padding-top: 20px;
}

.logo img {
    max-width: 100px;
    max-height: 100px;
}

@font-face {
    font-family: NorseBold;
    src: url('../font/Norse-Bold.otf') format('opentype');
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.form {
    box-shadow: 0px 2px 5px 2px rgb(215, 215, 215);
    margin: 10px 0px;
    padding: 20px 40px;
    background-color: #fcfdff;
}

.form p {
    margin: 0px;
    font-size: 22px;
    margin-bottom: 10px;
    color: #3f3f44;
}

.row {
    display: flex; 
}

.input-box:nth-child(2) {
  margin-left: 40px;
} 

label {
    margin-bottom: 3px;
    font-size: 13px;
    color: #4b4b52;
}

input {
    border: 1px solid #E5E7EB;
    padding: 5px;
    border-radius: 5px;
    background-color: #fcfdff;
}

input:focus {
    outline: none;
    border-color: #2374a7;
    box-shadow: 0px 2px 2px 1px rgb(244, 239, 239);
}

.error {
    outline: none;
    border-color: #d61919;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px 0px;
}

.top, .bottom {
    padding: 20px 40px;
}

button {
    background-color: #4d7892;
    border: none;
    padding: 12px 28px;
    border-radius: 5px;
    color: #fcfdff;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px 1px rgb(214, 213, 213);
    cursor: pointer;
}

.bottom p {
    font-size: 12px;
}

.top p {
    font-size: 18px;
    color: #2f2f38;
}

a {
    color: #fcfdffe7;
}

.bottom a {
    color: #4d7892;
    text-decoration: none;
    font-weight: 800;
}

#error-container .error-message {
    font-size: 12px;
    color: #d61919;
    margin: 0px;
    padding: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #574d4e;
}

footer a { 
    margin-left: 8px;
}

@media screen and (max-width: 756px) {

    .row {
        flex-direction: column;
    }

    .input-box:nth-child(2) {
        margin-left: 0px;
    }

    .input-box {
        margin: 3px 0px;
    }

    .top p {
        font-size: 15px;
    }

    .top, .bottom {
        padding: 10px 40px;
    }

    .form {
        margin: 0px 0px 10px 0px;
    }

    button {
        margin-bottom: 3px;
    }

    .form p {
        font-size: 20px;
    }

    label {
        font-size: 11px;
    }

}

@media screen and (max-width: 610px) {
    .left img {
        width: 330px;
    }

    .logo img {
        max-width: 90px;
        max-height: 90px;
    }

    .logo p {
        font-size: 60px;
    }
}

@media screen and (max-width: 575px) {
    .left img {
        width: 240px;
    }

    .logo img {
        max-width: 80px;
        max-height: 80px;
    }

    .logo p {
        font-size: 50px;
    }
}