* {
    box-sizing: border-box;
    font-family:  Arial;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f2f3f8;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    position: relative;
}

.left img {
    width: 370px;
    height: 100%;
    object-fit: fill;
}

.bg {
    position: absolute;
    background-color: rgb(0,0,0,.4);
    top: 10rem;
    width: 100%;
    color: #fcfdff;
    text-align: center;
}

.credit {
    position: absolute;
    top: 40rem;
    text-align: center;
    font-size: 12px;
    width: 100%;
    left: 0px;
    color: #fcfdff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.logo p {
    font-size: 70px;
    font-family: NorseBold;
    padding-top: 20px;
}

.logo img {
    max-width: 95px;
    max-height: 95px;
    width: auto;
    height: auto;
}

@font-face {
    font-family: NorseBold;
    src: url('../font/Norse-Bold.otf') format('opentype');
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.form {
    box-shadow: 0px 2px 5px 2px rgb(215, 215, 215);
    margin: 10px 0px;
    padding: 20px 40px;
    background-color: #fcfdff;
}

.form p {
    margin: 0px;
    font-size: 22px;
    margin-bottom: 10px;
    color: #3f3f44;
}

.row {
    display: flex; 
}

.input-box:nth-child(2) {
  margin-left: 40px;
} 

label {
    margin-bottom: 3px;
    font-size: 13px;
    color: #4b4b52;
}

input {
    border: 1px solid #E5E7EB;
    padding: 5px;
    border-radius: 5px;
    background-color: #fcfdff;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px 0px;
}

.top, .bottom {
    padding: 20px 40px;
}

button {
    background-color: #4d7892;
    border: none;
    padding: 12px 28px;
    border-radius: 5px;
    color: #fcfdff;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px 1px rgb(214, 213, 213);
    cursor: pointer;
}

.bottom p {
    font-size: 12px;
}

.top p {
    font-size: 18px;
    color: #2f2f38;
}

a {
    color: #fcfdffe7;
}

.bottom a {
    color: #4d7892;
    text-decoration: none;
    font-weight: 800;
}