* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    position: relative;
}

.left img {
    width: 370px;
    height: 100%;
    object-fit: fill;
}

.bg {
    position: absolute;
    background-color: rgb(0,0,0,.4);
    top: 10rem;
    width: 100%;
    color: rgb(239, 239, 239);
    text-align: center;
}

.credit {
    position: absolute;
    top: 40rem;
    text-align: center;
    font-size: 12px;
    width: 100%;
    left: 0px;
    color: rgb(239, 239, 239);
}

.right {
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.logo p {
    font-size: 70px;
    font-family: NorseBold;
    padding-top: 20px;
}

.logo img {
    max-width: 95px;
    max-height: 95px;
    width: auto;
    height: auto;
}

@font-face {
    font-family: NorseBold;
    src: url('../font/Norse-Bold.otf') format('opentype');
}